body {
    background: black;
    color: white;
}

#image {
    float: left;
    height: 600;
    width: 600;
    background: white;
}

#stats {
    padding-left: 0.5rem;
}

#dna-select-box {
    float: left;
    padding-left: 0.5rem;
}

#prefix-select-box {
    float: left;
    padding-left: 0.5rem;
}

#start-button-box {
    float: left;
    padding-left: 0.5rem;
}
